.yai-fnav-img,
.yai-fnav-srch {
	width: 30%;
}
.yai-header-img {
	width: 225px;
}

.yai-fnav {
	/* the mint green background color */
	background-color: #dfeeda;
	font-size: 30px;
	font-weight: 300;
	text-align: center;
	display: table;
	width: 100%;
}
.yai-fnav-block {
	display: table-cell;
	padding: 20px;
	vertical-align: middle;
}
.yai-fnav-lnk {
	display: inline-block;
	padding: 10px 30px;
	text-transform: uppercase;
	cursor: pointer;
	text-decoration: none;
}
.yai-fnav-lnk:hover {
	color: #4f4f4f;
}

@media only screen and (max-width: 1480px) {
    .yai-fnav-lnk {
		font-size: 24px;
		padding: 5px 15px;
	}
	.yai-header-img {
		width: 175px;
	}
	.yai-input {
		max-width: 250px;
	}

}

@media only screen and (max-width: 1200px) {
    .yai-fnav-lnk {
		font-size: 20px;
	}
}